*{
    margin: 0;
    padding: 0;
}
body{
    background: #f0f3ef;
}
.clearfix:after{
    clear: both;
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
}
.w{
    width: 1190px;
    margin: 0 auto;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
i{
    font-family: 'icomoon';
    font-style: normal
}
s{
    text-decoration: none
}
img{
    border-style: none
}
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?c7lz08');
    src:  url('../fonts/icomoon.eot?c7lz08#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?c7lz08') format('truetype'),
      url('../fonts/icomoon.woff?c7lz08') format('woff'),
      url('../fonts/icomoon.svg?c7lz08#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
.fl{
    float: left;
}
.fr{
    float: right;
}
/* 顶部通栏 */
.top_img{
    background: #000;
}
.top_img a{
    display: block;
    height: 80px;
    background: url("../images/top.jpg ") no-repeat;
    position: relative;

}
.top_img a i{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 0;
    color: #fff;
    text-align: center;
    line-height: 20px;
}
/* 顶部导航栏 */
.topNav{
    height: 30px;
    background: #E3E4E5;
    border-bottom: 1px solid #DDD;
    color: #9D9D9D;
    font-size: 12px;
}
.topNav a{
    font-size: 12px;
    text-decoration: none;
    color: #9D9D9D;
}
.topNav .fl{
    margin-left: 200px;
}
.topNav li{
    height: 30px;
    line-height: 30px;   
}
.topNav .fl li i{
    font-size: 14px;
    color: #f10215;
    margin-right: 3px
}
.topNav .fr li{
    float: left;
}
.space{
    width: 1px;
    height: 10px!important;
    background: #ccc;
    margin: 10px 10px 0;
}
.topNav .fr .pd{
    padding-right: 15px;
    position: relative;
}
.topNav .fr i{
    font-size: 14px;
    color: #f10215;
    color: #9D9D9D; 
    position: absolute;
    top:-2px;
    right: -2px;
}
.topNav .fr a:hover{
    color: #f10215
}
.trust{
    color: #f10215!important;
}
.topNav .fr img{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 35px;
    left: -8px;
    border: 1px solid #ccc;
    padding: 3px;
}
/* place栏 logo*/
.place{
    height: 140px;
}
.inner{
    height: 100%;
    position: relative;
}
.logo{
    width: 190px;
    height: 170px;
    position: absolute;
    top: -30px;
    left: 0;
    box-shadow: 0 -12px 10px rgba(0,0,0,.2);
}
h1,h5{
    text-indent: -9999em
}

.logo a{
    display: block;
    width: 190px;
    height: 170px;
    cursor: pointer;
    background: url("../images/logo.jpg") no-repeat center center;
}
/* logo栏 search*/
.search{
    width: 550px;
    height: 35px;
    position: absolute;
    top: 25px;
    left: 320px;
}
.search input{
    width: 493px;
    height: 33px;
    border: 1px solid #f10215;
    /* 去掉input自带的蓝色外边框 */
    outline: none;
    padding:0 0 0 5px;
    color: #989898;
    font-size: 16px;
}
.search button{
    width: 50px;
    height: 35px;
    background: #f10215;
    /* 默认有边框我们要去除边框 */
    border: 0;
}
/* 非块级元素之间会有几像素的距离，用浮动解决 */
.search button i{
    color: #fff;
    font-size: 16px;
}
.search em{
    width: 19px;
    height: 15px;
    position: absolute;
    top: 10px;
    right: 65px;
    background: url("../images/sprite-search.png") no-repeat 0 0;
}
.search:hover em{
    background-position: -30px 0
}
/* 热词 */
.hotword{
    position: absolute;
    top: 70px;
    left: 320px;
    /* height: 18px;
    line-height: 18px; */
}
.style-red{
    color: #f10215!important;
}
.hotword a{
    color: #9E9B99;
    font-size: 12px;
}
.hotword a:hover{
    color: #f10215
}
.shopcar{
    width: 188px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    border: 1px solid #ccc;
    position: absolute;
    top: 25px;
    right: 100px;
}
.shopcar i{
    margin-right: 3px;
    color: #f10215;
    font-size: 16px;
}
.shopcar a{
    font-size: 12px;
    color: #f10215;
}
.shopcar s{
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    background: #f10215;
    color: #fff;
    border-radius: 7px;
    position: absolute;
    top: 5px;
    left: 140px;
    padding: 0 3px;
}
/* .computer{
    width: 190px;
    height: 40px;
    position: absolute;
    right: 0px;
    bottom: 10px;
    background: url("../images/computer.jpg") no-repeat;
} */
.computer{
    position: absolute;
    right: 0px;
    bottom: 10px;
}
.computer a img{
    width: 190px;
    height: 40px;
}
.topbottom{
    position: absolute;
    left: 200px;
    bottom: 0;
}
.topbottom ul,.topbottom .space{
    float: left;
}
.topbottom .space{
    margin: 15px -10px 0 20px;
}
.topbottom ul li{
    margin-left: 30px;
    float: left;
}
.topbottom ul li a{
    color: #555A5F;
    display: block;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    font-size: 16px;
}
.topbottom ul li:hover a{
    color: #f10215
}
.footer{
    height: 560px;
}
.server{
    height: 100px;
    border-bottom: 1px solid #DEDEDE
}
.footer .server ul{
    padding: 30px 0;
}
.footer .server ul li{
    float: left;
    width: 297px;
    height: 42px;
    line-height: 42px;
}
.insert{
    width: 225px;
    height: 42px;
    margin: 0 auto;
    
}
.insert h5{
    width: 36px;;
    height: 42px;
    background: url("../images/ico_service.png") no-repeat;
}
h5,.insert p{
    float: left;
    font-size: 18px;
    font-weight: 700;
}
.insert p{
    margin-left: 9px;
}
.kuai h5{
    background-position: 0 -44px;
}
.hao h5{
    background-position: 0 -86px;
}
.sheng h5{
    background-position: 0 -128px;
}
.list{
    height: 180px;
    padding-top: 20px;
    position: relative;
}
.list dl{
    float: left;
    width: 198px;
}
.list dl dt{
    font-weight: 700;
    font-size: 14px;
    color: #666;
    height: 30px;
}
.list dl dd{
    height: 22px
}
.list dl dd a{
    color: #727272;
    font-size: 12px;
}
.list dl dd a:hover{
    color: #f10215
}
/* list-last */
.list-last{
    float: right;
    width: 207px;
    height: 150px;
    background: url("../images/ico_footer.png") no-repeat;
}
.list-last dt{
    text-align: center;
    margin-bottom: 6px;

}
.list .list-last dd{
    line-height: 18px;
    font-size: 12px;
    width: 180px;
    height: 54px;
    margin: 0 auto;
    color: #666;
}
.list-last .more{
    text-align: right
}
.list-last .more:hover a{
    color: #f10215
}
.copyright{
    border-top: 1px solid #e1e1e1;
    padding-top: 15px;
}
.copyright .news{
    text-align: center;
    margin-bottom: 10px;
}
.copyright .news a{
    font-size: 12px;
    color: #666;
}
.copyright .news a:hover{
    color: #f10215
}
.copyright .news span,.copyright-infor span{
    font-size: 12px;
    color: #ccc;
    margin:0 8px 
}
.copyright-infor{
    text-align: center;
}
.copyright-infor p{
    color: #999;
    line-height: 22px;
    font-size: 12px;
}
.sprit{
    text-align: center;
    margin-top: 25px;
}
.sprit a{
    width: 103px;
    height: 32px;
    display: inline-block;
    background: url("../images/ico_footer.png") no-repeat  -104px -151px;
    
}
.sprit .two{
    background-position: 0 -184px;
}
.sprit .three{
    background-position: -104px -184px;
}
.sprit .four{
    background-position: 0 -217px;
}
.sprit .five{
    background-position: -104px -217px;
}
.sprit .six{
    background-position:0 -151px;
}











